<div class="row mb-3">
  <% @friends.each do |friend| %>
  <div class="col-md-8 offset-md-2">
    <h1>
      Friend #<%= friend.follower_id.user.username %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/friends" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/friends/<%= friend.leader_id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit friend
        </a>
      </div>

      <div class="col">
        <a href="/delete_friend/<%= friend.leader_id %>" class="btn btn-block btn-outline-secondary">
          Delete friend
        </a>
      </div>
    </div>

    <% @yogaflows.where(user_id: friend.leader_id).each do |yogaflow| %>
    
    <dl>
      <dt>
        Friend
      </dt>
      <dd>
        <%= yogaflow.user.username %>
      </dd>

      <dt>
        Yoga flows
      </dt>
      <dd>
        <%= yogaflow.title %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(yogaflow.created_at) %> ago
      </dd>

      <dt>
      </dt>
      <dd>
        <a href="/yogaflows/<%= yogaflow.id %>">
          View
        </a>
      </dd>
    </dl>
    <% end %>
  </div>
  <% end %>
</div>

