<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All poses
    </h1>

    <!--<a href="/poses/new" class="btn btn-block btn-outline-secondary">-->
    <!--  Add a new pose-->
    <!--</a>-->
  </div>
</div>


<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>

        <th>
          Name
        </th>

        <th>
          Sanskrit
        </th>

        <th>
          Picture
        </th>

        <th>
          Position
        </th>

        <th>
        </th>
      </tr>

      <% @poses.each do |pose| %>
      <tr>

        <td>
          <%= pose.name %>
        </td>

        <td>
          <%= pose.sanskrit %>
        </td>

        <td>
          <%= pose.picture %>
        </td>

        <td>
          <%= pose.position %> 
        </td>

        <td>
          <form action="/create_sequence" method="post">
            
              <input type="hidden" name="pose_id" class="form-control" value="<%= pose.id %>">

            <div class="form-group">
              <label for="yogaflow_id">
                Yogaflow
              </label>
              <%= select_tag(:yogaflow_id, options_from_collection_for_select(Yogaflow.where(user_id: current_user.id), :id, :title), :class => "form-control") %>
            </div>
            <button class="btn btn-block btn-outline-secondary">
              Add to my flow
            </button>
          </form>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
