<h1>Poses</h1>

<div class="container border border-light mb-3 bg-light">
    <div class="row">
        <div class="col-sm-5 pt-2">
          <%= search_form_for @q, { :url => "/poses" } do |f| %>

          
              <div class="form-group">
                  <%= f.label :name_or_sanskrit_cont, "Search English or Sanskrit Name" %>
                  <%= f.text_field :name_or_sanskrit_cont, :class => "form-control" %>
              </div>
        </div>
        <div class="col-sm-5 pt-2">
          <div class="form-group">
            <%= f.label :position_eq, "Type of Pose" %>
            <%= f.select :position_eq, options_from_collection_for_select(Pose.pluck(:position).uniq, :to_s, :to_s, @q.position_eq), { :include_blank => true}, :class => "form-control" %>
          </div>
        </div>


        <div class="col-sm-2 align-self-center pt-4">
            <%= f.submit :class => "btn btn-primary btn-block" %>
        </div>
        <div class="row">
          <div class="col-sm-2">
            <a href="/poses" class="btn btn-default btn-block">Clear filters</a>
          <% end %>
          </div>
        </div>
    </div>
</div>


<div class="card-columns">
    <% @poses.each do |pose| %>
    <div class="card">
      <h6 class="card-header"><%= pose.name %></h6>
      <div class="card-body">
        <p class="card-text font-italic"><%= pose.sanskrit %></p>
        <p class="card-text font-weight-light"><%= pose.position %></p>

        
        <% if Yogaflow.where(user_id: current_user.id).present? %>
        
          <form action="/create_sequence" method="post" class="form-inline">
          <div class="row">
            <input type="hidden" name="pose_id" class="form-control" value="<%= pose.id %>">
            <div class="form-group">
              <label for="yogaflow_id">
  
              </label>
              <%= select_tag(:yogaflow_id, options_from_collection_for_select(Yogaflow.where(user_id: current_user.id), :id, :title), :class => "form-control") %>
            </div>
            <button class="btn btn-outline-secondary">
               <i class="fas fa-plus"></i>
            </button>
            </div>
          </form>
          
        <% else %>
        <div class="row">
          <a href="/yogaflows/new" class="btn btn-outline-secondary">
            Create a New Flow
          </a>
        </div>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
  
  <%= paginate @poses %>
