<div>
  <% @yogaflows.each do |yogaflow| %>
  <div class="card mb-3">
    <div class="card-header">
      <a href="users/<%= yogaflow.user.id %>"><%= yogaflow.user.username %></a>
    </div>
    <div class="card-body">
      <h5 class="card-title"><%= yogaflow.title %></h5>
      <p class="card-text">Intention: <%= yogaflow.intention %></p>
      <p class="card-text">Description: <%= yogaflow.description %></p>
      <p class="card-text"><small class="text-muted">Created <%= time_ago_in_words(yogaflow.created_at) %> ago. </small></p>
    </div>
  </div>
  <% end %>
</div>


