<div class="card w-75">
  <div class="card-header">
    <%= current_user.username %>
  </div>
</div> 

<div class="card w-75"> 
        <ul class="list-group">
        <% @yogaflow.each do |yogaflow| %>
          <li class="list-group-item">
            <div class="card-header">
                <a href="/yogaflows/<%= current_user.id %>">
                    <%= current_user.username %>
                </a>
                    <%= time_ago_in_words(yogaflow.created_at) %> ago
            </div>
          </li>
        <div>
            <%= yogaflow.title %>
        </div>
        <div>
            <%= yogaflow.intention %>
        </div>
        <div>
            <%= yogaflow.description %>
        </div>
         <div>
            <%= yogaflow.yogatype %>
        </div>
        <div>
            <%= yogaflow.poses.name %>
        </div>

    <% end %>
    </ul>
</div>
