<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Yogaflow #<%= @yogaflow.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/yogaflows" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/yogaflows/<%= @yogaflow.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit yogaflow
        </a>
      </div>

      <div class="col">
        <a href="/delete_yogaflow/<%= @yogaflow.id %>" class="btn btn-block btn-outline-secondary">
          Delete yogaflow
        </a>
      </div>
    </div>

    <dl>

      <dt>
        Title
      </dt>
      <dd>
        <%= @yogaflow.title %>
      </dd>

      <dt>
        Intention
      </dt>
      <dd>
        <%= @yogaflow.intention %>
      </dd>

      <dt>
        Description
      </dt>
      <dd>
        <%= @yogaflow.description %>
      </dd>

      <dt>
        Yogatype
      </dt>
      <dd>
        <%= @yogaflow.yogatype %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        Created <%= time_ago_in_words(@yogaflow.created_at) %> ago
      </dd>

    </dl>
  </div>
</div>


<div class="row mb-3">
  <div class="col-12">
    <div class="text-center">
    <h2>Poses</h2>
    </div>
    <% @sequences.each do |sequence| %>
    <dl>
      <dt>
        <%= sequence.pose.name %>
      </dt>
      <dd>
        <%= sequence.pose.sanskrit %>
      </dd>

      <dt>
      </dt>
      <dd>
        <%= sequence.pose.picture %>
      </dd>

    </dl>
    <% end %>
  </div>
</div>


  
  <div class="card-header">
    Add a pose to this yoga flow
  </div>

<form action="/create_sequence" method="post">

  <div class="form-group">
    <input type="hidden" name="yogaflow_id" class="form-control" value="<%= @yogaflow.id %>">
  </div>

  <div class="form-group">
    <label for="pose_id">
      Pose
    </label>
    
    <%= select_tag("pose_id", options_from_collection_for_select(Pose.all, :id, :name), :class => "form-control") %>

  </div>

  <button class="btn btn-block btn-outline-secondary">
    Add the pose
  </button>



        <div>
          <a href="/poses">View all poses</a>
        </div>
      </form>
    </li>
  </ul>

