<h1> <%= @user.username %> </h1>


<div class="mb-3">
<% if @user.id == current_user.id %>
<a href="/yogaflows/new" class="text-link">Create a new flow</a>
</div>
<% else %>
<div class="mb-3"> 
    <% @user.username %>
     <div>
        <% if @user.friendrequests.present? %>
          <% @user.friendrequests.each do |friend| %>
    
          <% if friend.follower_id == current_user.id %>
            <a href="/delete_friend/<%= friend.id %>" class="btn btn-outline-primary">
                Unfollow
            </a>
         <% else %> 
        </a>
        
        <form action="/create_friend" method="post">
        <input type="hidden" name="leader_id" value="<%= @user.id %>" >
          <input type="hidden" name="follower_id" value="<%= friend.follower_id %>" >
          <button class="btn btn-outline-primary">
          Add Friend
          </button>
        </form>
  
    
          <% end %>
        <% end %>
        
        <% else %>
        <form action="/create_friend" method="post">
        <input type="hidden" name="leader_id" value="<%= @user.id %>" >
          <input type="hidden" name="follower_id" value="<%= current_user.id %>" >
          <button class="btn btn-outline-primary">
          Add Friend
          </button>
        </form>
      <% end %>
      </div>
  </div>
<% end %>


<div class="card-columns">
    <% @yogaflow.each do |yogaflow| %>
    <div class="card">
        <div class="card-header">
            <h5>
                <a href="/yogaflows/<%= yogaflow.id %>"><%= yogaflow.title %>
                </a>
            </h5>
        </div>
        <ul class="list-group">
            <div class="card-body">
                <h6 class="card-title">
                    Intention
                </h6>
                <p class="font-weight-light">
                    <%= yogaflow.intention %>
                </p>
                <h6 class="card-title">
                    <div>Description</div>
                </h6>
                <p class="font-weight-light">
                    <%= yogaflow.description %>
                </p>
                
                <h6 class="card-title">
                    Style of Yoga
                </h6>
                 <p class="font-weight-light">
                    <%= yogaflow.yogatype %>
                </p>
                <div class="text-muted">
                    Created <%= time_ago_in_words(yogaflow.created_at) %> ago
                </div>
                
                 <!--for the likes button -->
                    <div> 
                      <div>
                        <% if yogaflow.favorites.present? %>
                          <% yogaflow.favorites.each do |favorite| %>
                          <% if favorite.user_id == current_user.id %>
                            <a href="/delete_favorite/<%= favorite.id %>" class="btn btn-link">
                                Unlike
                            </a>
                         <% else %> 
                   
                        <form action="/create_favorite" method="post">
                        <input type="hidden" name="yogaflow_id" value="<%= yogaflow.id %>" >
                          <input type="hidden" name="user_id" value="<%= yogaflow.user.id %>" >
                          <button>
                          Like
                          </button>
                        </form>
             
                          <% end %>
                        <% end %>
                            <% elsif yogaflow.user_id == current_user.id %>
                            <div>
                                
                            </div>
                            <% else %>
                                <form action="/create_favorite" method="post">
                                <input type="hidden" name="yogaflow_id" value="<%= yogaflow.id %>" >
                                  <input type="hidden" name="user_id" value="<%= current_user.id %>" >
                                  <button>
                                  Like 2
                                  </button>
                                </form>
                        <% end %>
                      </div>
                    </div>
            </div>
        </ul>
    </div>
    <% end %>
</div>
