<div class="card w-75">
  <div class="card-header">
    <%= @user.username %>
  </div>
</div> 

<div>
    <% @yogaflow.each do |yogaflow| %>
    <div class="card mb-3">
        <div class="card-header">
            <h5>
                <a href="/yogaflows/<%= yogaflow.id %>"><%= yogaflow.title %>
                </a>
            </h5>
        </div>
        <ul class="list-group">
            <div class="card-body">
                <h6 class="card-title">
                    Intention
                </h6>
                <p>
                    <%= yogaflow.intention %>
                </p>
                <h6 class="card-title">
                    <div>Description</div>
                </h6>
                <p>
                    <%= yogaflow.description %>
                </p>
                
                <h6 class="card-title">
                    Style of Yoga
                </h6>
                 <p>
                    <%= yogaflow.yogatype %>
                </p>
                <div class="text-muted">
                    Created <%= time_ago_in_words(yogaflow.created_at) %> ago
                </div>
            </div>
        </ul>
</div>
<% end %>
</div>
