<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Yogaflow #<%= @yogaflow.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/yogaflows" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/yogaflows/<%= @yogaflow.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit yogaflow
        </a>
      </div>

      <div class="col">
        <a href="/delete_yogaflow/<%= @yogaflow.id %>" class="btn btn-block btn-outline-secondary">
          Delete yogaflow
        </a>
      </div>
    </div>

    <dl>

      <dt>
        Title
      </dt>
      <dd>
        <%= @yogaflow.title %>
      </dd>

      <dt>
        Intention
      </dt>
      <dd>
        <%= @yogaflow.intention %>
      </dd>

      <dt>
        Description
      </dt>
      <dd>
        <%= @yogaflow.description %>
      </dd>

      <dt>
        Yogatype
      </dt>
      <dd>
        <%= @yogaflow.yogatype %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        Created <%= time_ago_in_words(@yogaflow.created_at) %> ago
      </dd>

    </dl>
  </div>
</div>


<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <div class="text-center">
    <h2>Poses</h2>
    </div>
    <dl>
      <% @sequences.each do |sequence| %>
      <dt>
        Pose Name
      </dt>
      <dd>
        <%= sequence.pose.name %>
        
      </dd>

      <dt>
        Sanskrit Pose Name
      </dt>
      <dd>
        <%= sequence.pose.sanskrit %>
      </dd>

      <dt>
        Picture
      </dt>
      <dd>
        <%= sequence.pose.picture %>
      </dd>
      <% end %>
    </dl>
  </div>
  
  <div class="card-header">
    Add a pose to this yoga flow
  </div>
  <ul class="list-group">
    <li class="list-group-item">
      <form action="/create_sequence" >
        <!-- Label and input for yoga flow id-->
        <div class="form-group">
          
          <input type="hidden" name="yogaflow_id" class="form-control" value ="<%= yogaflow.id %>">
        </div>

        <!-- Label and input for pose_id -->
        <div class="form-group">
          <label for="pose_id">
            Pose
          </label>

          <%= select_tag("pose_id", options_from_collection_for_select(Pose.all, :id, :name), :class => "form-control") %>
        </div>
        
        <!-- Label and input for sequence_id -->
        <input type="hidden" name="sequence_id" value="<%= @sequence.id %>">

        <button class="btn btn-block btn-outline-secondary">
          Add Pose
        </button>
      </form>
    </li>
  </ul>

