<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      <%= @yogaflow.title %>
    </h1>
    <p>
      Created by <a href="/users/<%= @yogaflow.user_id %>"><%=@yogaflow.user.username %>
      </a>
    <p>
    
    <div class="row mb-3">
      <div class="col">
        <a href="/yogaflows" class="btn btn-block btn-outline-secondary">
          <i class="fas fa-chevron-left"></i> Go back
        </a>
      </div>

          <% if @yogaflow.user_id == current_user.id %>
      
            <div class="col">
              <a href="/yogaflows/<%= @yogaflow.id %>/edit" class="btn btn-block btn-outline-secondary">
                <i class="fas fa-edit"></i> Edit yogaflow
              </a>
            </div>
      
            <div class="col">
              <a href="/delete_yogaflow/<%= @yogaflow.id %>" class="btn btn-block btn-outline-secondary">
                <i class="fas fa-trash-alt"></i> Delete yogaflow
              </a>
            </div>
          <% else %>
            <div class="col">
              <a href="/users/<%= @yogaflow.user_id %>" class="btn btn-block btn-outline-secondary">
                View All of <%= @yogaflow.user.username %>'s Flows
              </a>
            </div>
          <% end %>
    </div>

    <dl>
      <div class="card card-outline-light bg-light pl-3 pt-3 pb-3">
        <dt>
          Intention
        </dt>
        <dd class="font-weight-light">
          <%= @yogaflow.intention %>
        </dd>
  
        <dt>
          Description
        </dt>
        <dd class="font-weight-light">
          <%= @yogaflow.description %>
        </dd>
  
        <dt>
          Style of Yoga
        </dt>
        <dd class="font-weight-light">
          <%= @yogaflow.yogatype %>
        </dd>
  
        <dt>
        </dt>
        <dd class="text-muted">
          Created <%= time_ago_in_words(@yogaflow.created_at) %> ago
        </dd>
      </div>
    </dl>
  </div>
</div>


  <h2 class="text-primary text-center">Poses</h2>
  <div class="card-columns">
    <% @sequences.each do |sequence| %>
    <div class="card">
      <h6 class="card-header"><%= sequence.pose.name %>
        </h6>
      <div class="card-body">
        <p class="card-text font-italic"><%= sequence.pose.sanskrit %></p>
        <p class="card-text font-weight-light"><%= sequence.pose.position %></p>
        <p>
          <%= sequence.pose.picture %>
        </p>
      </div>
    </div>
    <% end %>
  </div>


<% if @yogaflow.user_id == current_user.id %>
<div class="container">
  <div class="card mb-3">
    <div class="card-header text-center">
      Add a pose to this yoga flow
    </div>

  <div class="card-body">
    <form action="/create_sequence" method="post">
    
      <div class="form-group">
        <input type="hidden" name="yogaflow_id" class="form-control" value="<%= @yogaflow.id %>">
      </div>
    
      <div class="form-group">
        <label for="pose_id">
          Pose
        </label>
        
        <%= select_tag("pose_id", options_from_collection_for_select(Pose.all, :id, :name), :class => "form-control") %>
    
      </div>
    
      <button class="btn btn-block btn-outline-secondary">
        <i class="fas fa-plus"></i> Add
      </button>
    
    
    
            <div>
              <a href="/poses">View all poses</a>
            </div>
          </form>
        </li>
      </ul>
      
    <% else %>
    <div class="mb-3">
       <!--for the likes button -->
        <div> 
          <div>
            <% if @yogaflow.favorites.present? %>
              <% @yogaflow.favorites.each do |favorite| %>
              <% if favorite.user_id == current_user.id %>
                <a href="/delete_favorite/<%= favorite.id %>" class="btn btn-link">
                    Unlike
                </a>
             <% else %> 
       
            <form action="/create_favorite" method="post">
            <input type="hidden" name="yogaflow_id" value="<%= @yogaflow.id %>" >
              <input type="hidden" name="user_id" value="<%= @yogaflow.user.id %>" >
              <button>
              Like
              </button>
            </form>
    
              <% end %>
            <% end %>
                <% else %>
                    <form action="/create_favorite" method="post">
                    <input type="hidden" name="yogaflow_id" value="<%= @yogaflow.id %>" >
                      <input type="hidden" name="user_id" value="<%= current_user.id %>" >
                      <button>
                      Like 2
                      </button>
                    </form>
            <% end %>
          </div>
        </div>
  
  </div>
</div>
</div>
<% end %>
</div>

